body{
    background-color: blue;
}
.azul{
    background-color: blue;
    padding: 80px;
}

.amarelo {
    background-color: yellow;
    padding: 50px;
    margin: 10px;
}

.flex{
    display: flex;
}
.alongar {
    padding-bottom: 240px;
}

.aumentar {
    padding-right: 170px;
}